- content_for :title do
  Collections Home
.row.twelve.columns
  %h1 Welcome to Collections
  = link_to "Documentation", documentation_path
  
  %hr
  = link_to "Users", users_path
  %hr
  - @users.each do |user|
    .row
      .two.columns
        = user.name
      .ten.columns
        - user.collection.each do |col|
          .row
            .two.columns= col.name
            .six.columns= col.description
    %hr
